<div ng-controller="PreviewListController">
  <h3>Saved Previews</h3>
  <div ng-repeat="preview in previews">
    <dl>
      <dt>Business Name</dt>
      <dd>{{preview.business_name}}</dd>
      <dt>Text</dt>
      <dd>{{preview.text}}</dd>
      <dt>Description</dt>
      <dd>{{preview.description}}</dd>
      <dt>Image</dt>
      <dd>{{preview.image}}</dd>
      <dt>URL</dt>
      <dd>{{preview.url}}</dd>
      <dt>Call to Action</dt>
      <dd>{{preview.call_to_action}}</dd>
    </dl>
    <button type="button">preview</button>
  </div>
</div>