<div ng-controller="PreviewDisplayController" ng-init="show=false" ng-show="show">
    <div class="fbPreview">
        <div class="ad">
            <div class="name">{{preview.business_name}}</div>
            <div class="text">{{preview.text}}</div>
            <div class="adSite">
                <div class="image"><img src={{preview.image}}></div>
                <div class="adInfo">
                    <div class="info">
                    <div class="description">{{preview.description}}</div>
                    <div class="message">{{preview.message}}</div>
                    <div class="url">{{preview.url}}</div>
                    </div>
                    <div class="callToAction">
                        <button><span>{{preview.call_to_action}}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>